# OSX junk

[Tt]humbs.db
*.DS_Store
*.swp
*.out
*.bak*

# XCode junk

*.log
xcuserdata
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Project files

[Bb]uild/

# Version control files

.svn
*.orig
