<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SideBarItem</key>
	<array>
		<string>We Were Here</string>
		<string>Tour Explorer</string>
		<string>Photo Explorer</string>
		<string>My Tour</string>
		<string>My Photo</string>
		<string>Log Out</string>
	</array>
</dict>
</plist>
